
*.tfstate
.tfstate.
*.tfstate.backup
*.tfvars
.terraform/
.terraform.lock.hcl
.terraform.d/plugin-cache/
*.tfvars.json
credentials.json
secrets.tfvars
*.secret.tfvars
.vscode/
*.log
*~

*.pyc 

*.tgz

sensitive-key-file.txt